@import url(https://fonts.googleapis.com/css?family=Roboto);

/* Setup styles - you don't need these */
body {
  font-family: 'Roboto', sans-serif;
}
.container {
  position: relative;
  background-color: #e0e0e0;
  margin: 25px auto 0;
  height: 400px;
  width: 100%;
  max-width: 500px;
}

/* Component styles - this is what you need to grab */
.absolute-center {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.floaty {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

